__pycache__/Cl_comp2.cpython-311.pyc
__pycache__/Cl_PC.cpython-311.pyc
__pycache__/Cl_Ram.cpython-311.pyc
__pycache__/Cl_Test_Comp1.cpython-311.pyc
__pycache__/Cl_Test_Gate.cpython-311.pyc
__pycache__/Cl_Test_PC.cpython-311.pyc
__pycache__/Cl_Test_Ram.cpython-311.pyc
__pycache__/Cl_comp2.cpython-311.pyc
__pycache__/Cl_comp2.cpython-311.pyc
__pycache__/Cl_comp2.cpython-311.pyc
